@use "@/styles/app/colors.scss" as appColors;

.el-input {
  //--el-fill-color-blank: #f8f8f8;
  //border-radius: 6px;
}


.el-textarea__inner {
}


.el-input.brand {
  border: none;
  outline: none;
  color: rgba(255,255,255,0.6);

  * {
    border: none;
    outline: none;
    box-shadow: none;
  }

  & > * {
    background: rgba(0,0,0,0.5);
  }

  &.is-disabled {
    .el-input-group__prepend {
      background: rgba(0,0,0,0.15);
    }

    .el-input__wrapper {
      box-shadow: none;
      background: rgba(0,0,0,0.15);
    }
  }

  .el-input-group__prepend {
    padding: 2px 14px;
    border-right: 1px solid rgba(255,255,255,0.1);
  }

  .el-input__inner {
    color: rgba(255,255,255,0.6);
  }
}


//.el-textarea__inner {
//  border: none;
//  outline: none;
//  box-shadow: none;
//  background: rgba(0,0,0,0.5);
//
//  * {
//    border: none;
//    outline: none;
//    box-shadow: none;
//  }
//}
